body{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #F25D63;
}

.box{
  margin: 0 auto;
  width: 80%;
  min-height: 85vh;
  height: 85vh;

  border-radius: 15px;
}
.box h1{
  font-family: 'Jost', sans-serif;
}
.box h5{
  color: #51d8ad;
}
.box p{
  font-size: 1rem;
}

